.route-screen {
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
}

.header {
  padding: 1rem;
  background-color: #2871e6;
  color: #0d0d0d;
  text-align: center;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 40px;
  color: #666;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}

/* Custom CSS for Zoom Icons */
    .leaflet-control-zoom {
      margin-top: 10px; /* Adjust positioning if needed */
    }

    .leaflet-control-zoom a {
      font-size: 50px !important; /* Increase font size of the icons */
      width: 80px !important; /* Increase button width */
      height: 80px !important; /* Increase button height */
      line-height: 60px !important; /* Align text/icon vertically */
      text-align: center !important;
    }

    .leaflet-control-zoom a.leaflet-control-zoom-in {
      border-bottom: 1px solid #ccc !important; /* Maintain separation */
    }